@charset "UTF-8";
/* CSS Document */
html{height: 100%;width: 100%;margin: 0;padding: 0;}
body{height: 100%;width: 100%;margin: 0;padding: 0;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}

body{
	background-attachment: fixed;
	background-position: 10%bottom; 
	word-wrap:break-word;
	font:14px/200% "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	}
a{text-decoration:none;color:#000;text-align:left;padding-left:10px;}
.leftnav{z-index:1;background-color:rgba(238,238,238,0.98);height:100%;}
.leftnav > ul{ background-color:rgba(238,238,238,0.98);line-height: 40px;text-decoration:none;border-bottom:1px solid #e5e5e5;}
.leftnav > ul > li{background-color:rgba(238,238,238,0.98);text-align:left;padding-left:10px; color:#000; text-decoration:none;}
.leftnav > ul > li > a{height:40px;line-height:40px;background-color:rgba(238,238,238,0.98);}
li> a:hover{font-weight:bold}
.leftnav li{height:40px;line-height:40px;text-align:left;padding-left:10px;text-decoration:none;color:#000;}
.sub1{display:none;}
.sub2{display:none;}
.right{float:right;padding-right:10px}